
$enable-shadows: true;
$enable-gradients: true;
$body-color: rgb(0, 0, 0);
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$font-family-sans-serif: frank-new, sans-serif;
$font-family-monospace: frank-new, sans-serif;
$carousel-control-hover-opacity: 0;
$carousel-control-opacity: 0;